.icon{
    width: 30px;
    height: 30px;
}

.login-component {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gradient-custom {
    /* fallback for old browsers */
    background: rgb(189, 17, 83);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(31, 214, 184), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(189, 17, 83), rgb(185, 212, 32))
    }
