.icon{
    width: 30px;
    height: 30px;
}

.main-component {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.blurred-screen{
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

.spinner-item {
    position: absolute;
    width: 50%;
    height: 50%;
    text-align: center;
}

.gradient-custom {
    /* fallback for old browsers */
    background: rgb(189, 17, 83);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(216, 33, 103), rgba(24, 139, 216, 0.767));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(216, 33, 103), rgba(24, 139, 216, 0.767))
}
