<p-confirmPopup></p-confirmPopup>
<div class="container">
    <p-toast position="bottom-center" key="tc"></p-toast>
    <p-sidebar [(visible)]="dislaySettings" position="right" [baseZIndex]="10000">
        <div class="sidebar-header">
            <h2>Einstellungen</h2>
            <button pButton pRipple type="button" (click)="deleteCurrentShoppinglist($event)" class="p-button-rounded p-button-danger del-btn"><em class="pi pi-trash"></em></button>
        </div>
        <p-divider></p-divider>
        <h5>Teilnehmerliste</h5>
        <div *ngIf="checkIfSignedInUserIsOwner()" class=" add-user">
            <p-autoComplete [(ngModel)]="selectedFriend" [suggestions]="friendlistLight" (onSelect)="addContributor()" (completeMethod)="filterFriend($event)" field="username" placeholder="Adde deinen Freund" [dropdown]="true">
                <ng-template let-friend pTemplate="item">
                    <div>{{friend.username}}</div>
                </ng-template>
            </p-autoComplete>        
        </div>
        <div class="contributorlist">
            <p-table [value]="contributorlist" styleClass="p-datatable-striped">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="body" let-contributor>
                    <tr>
                        <td>{{contributor.username}}</td>
                        <td>
                            <div class="delete-friend-btn">
                                <button *ngIf="checkIfSignedInUserIsOwner() && contributor.id === this.shoppingList!.owner.id" pButton pRipple icon="pi pi-user" class="p-button-rounded p-button-secondary p-button-text" disabled></button>
                                <button *ngIf="checkIfSignedInUserIsOwner() && contributor.id !== this.shoppingList!.owner.id" type="button" (click)="removeContributor($event, this.contributor.id)" pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-sidebar>
    <div class="row">
        <div class="menuBar">
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" routerLink="/list-overview" style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><em class="pi pi-angle-left" style="color:white"></em></button>
            </div>
            <div class="col-8 shoppinglistName">
                <h1>{{this.shoppingList?.name}}</h1>
            </div>
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" style="color: white;" (click)="openSettings()" class="p-button-rounded p-button-secondary p-button-outlined"><em class="pi pi-cog" style="color:white"></em></button>
            </div>
        </div>
        <div class="col-8">
            <!-- <button pButton pRipple type="button" label="Add Entry" icon="pi pi-plus" (click)="displayAddEntry()" class="p-button-sm p-button-rounded  editBtn"></button> -->
        </div>
        <div class="editField col-4">
            <!-- <input type="text" pInputText [(ngModel)]="searchEntry" (onChange)="sortListBySearch()">  -->
            <!-- <p-toggleButton onLabel="Edit" offLabel="Edit" onIcon="pi pi-check" offIcon="pi pi-pencil" [(ngModel)]="edit_checked"></p-toggleButton> -->
        </div>
        <div class="col-12 editCard">
            <p-card header="Einkaufsliste bearbeiten">
                <div class="menu">
                    <div class="btn-menu">
                        <button pButton pRipple type="button" (click)="loadEntries()" class="p-button-rounded p-button-help"><em class="pi pi-refresh"></em></button>
                    </div>
                    <div class="btn-menu">
                        <button pButton pRipple [ngClass]="{'p-button-outlined': this.edit_checked === true}" type="button" (click)="changeEditBtn()" class="p-button-rounded p-button-secondary"><em class="pi pi-pencil"></em></button>
                    </div>
                    <div class="btn-menu">
                        <button pButton pRipple type="button" (click)="displayAddEntry()" class="p-button-rounded p-button-secondary"><em class="pi pi-plus"></em></button>
                    </div>
                </div>
            </p-card>   
        </div>
        <div class="col-12 activeCard">
            <p-card header="Muss gekauft werden">
                <div *ngFor="let entry of this.shoppinglistEntries" class="row">
                    <div *ngIf="entry.assignee && !entry.status" class="entry">
                        <div class="col-1 field-checkbox">
                            <p-checkbox [(ngModel)]="entry.status" (onChange)="modifyEntryStatus(entry)" [binary]="true" inputId="binary"></p-checkbox>
                        </div>
                        <div class="col">
                            <strong>{{entry.name}}</strong>
                        </div>
                        <div *ngIf="!edit_checked" class="col-4 assigneeField">
                            <p-avatar shape="circle" class="p-avatar p-component p-avatar-circle"
                            pTooltip="{{entry.assignee.username}}" [style]="{'background-color':'darkgrey'}" tooltipPosition="top" tabindex="0" tooltipEvent="focus"><strong style="color:white">{{this.getFirstCharFromString(entry.assignee.username!)}}</strong></p-avatar>
                            <button pButton pRipple type="button" icon="pi pi-user-edit" (click)="loadContributors(entry)" style="height:40px;width: 40px;" class="p-button-rounded p-button-help assigneeAddBtn"></button> 
                        </div>     
                        <div *ngIf="edit_checked" class="col-4 assigneeField">
                            <button pButton pRipple type="button" icon="pi pi-minus" style="height:40px;width: 40px;" (click)="deleteEntry(entry.id!)" class="p-button-rounded p-button-danger assigneeAddBtn"></button> 
                        </div>
                    </div>
                    <div *ngIf="entry.assignee === null && !entry.status" class="entry">
                        <div class="col-1 field-checkbox">
                            <p-checkbox [(ngModel)]="entry.status" (onChange)="modifyEntryStatus(entry)" [binary]="true" inputId="binary"></p-checkbox>
                        </div>
                        <div class="col">
                            <strong>{{entry.name}}</strong>
                        </div>
                        <div *ngIf="!edit_checked" class="col-4 assigneeField">
                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="loadContributors(entry)" style="height:40px;width: 40px;" class="p-button-rounded p-button-success assigneeAddBtn"></button> 
                        </div>  
                        <div *ngIf="edit_checked" class="col-4 assigneeField">
                            <button pButton pRipple type="button" icon="pi pi-minus" style="height:40px;width: 40px;" (click)="deleteEntry(entry.id!)" class="p-button-rounded p-button-danger assigneeAddBtn"></button> 
                        </div>    
                    </div>      
                </div>
            </p-card>   
        </div>
        <div class="col-12 recentCard">
            <p-card header="Bereits gekauft">
                <div *ngFor="let entry of this.shoppinglistEntries" class="row">
                    <div *ngIf="entry.assignee && entry.status" class="entry">
                        <div class="col-1 field-checkbox">
                            <p-checkbox [(ngModel)]="entry.status" [binary]="true" (onChange)="modifyEntryStatus(entry)" inputId="binary"></p-checkbox>
                        </div>
                        <div class="col">
                            <strong>{{entry.name}}</strong>
                        </div>
                        <div *ngIf="!edit_checked" class="col-4 assigneeField">
                            <p-avatar shape="circle" class="p-avatar p-component p-avatar-circle"
                            pTooltip="{{entry.assignee.username}}" [style]="{'background-color':'darkgrey'}" tooltipPosition="top" tabindex="0" tooltipEvent="focus"><strong style="color:white">{{this.getFirstCharFromString(entry.assignee.username!)}}</strong></p-avatar>
                            <button pButton pRipple type="button" icon="pi pi-user-edit" (click)="loadContributors(entry)" style="height:40px;width: 40px;" class="p-button-rounded p-button-help assigneeAddBtn"></button> 
                        </div>        
                        <div *ngIf="edit_checked" class="col-4 assigneeField">
                            <button pButton pRipple type="button" icon="pi pi-minus" style="height:40px;width: 40px;" (click)="deleteEntry(entry.id!)" class="p-button-rounded p-button-danger assigneeAddBtn"></button> 
                        </div>   
                    </div>
                    <div *ngIf="entry.assignee === null && entry.status" class="entry">
                        <div class="col-1 field-checkbox">
                            <p-checkbox [(ngModel)]="entry.status" (onChange)="modifyEntryStatus(entry)" [binary]="true" inputId="binary"></p-checkbox>
                        </div>
                        <div class="col">
                            <strong>{{entry.name}}</strong>
                        </div>
                        <div *ngIf="!edit_checked" class="col-4 assigneeField">
                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="loadContributors(entry)" style="height:40px;width: 40px;" class="p-button-rounded p-button-success assigneeAddBtn"></button> 
                        </div>  
                        <div *ngIf="edit_checked" class="col-4 assigneeField">
                            <button pButton pRipple type="button" icon="pi pi-minus" style="height:40px;width: 40px;" (click)="deleteEntry(entry.id!)" class="p-button-rounded p-button-danger assigneeAddBtn"></button> 
                        </div>       
                    </div>
                </div>   
            </p-card>   
        </div>
        <div class="col-12 marketCard">
            <p-card header="Nächster Supermarkt">
                <span (click)="routeToShoppingplace()" class="gmaplink">{{this.shoppingplace!.candidates[0].name}}</span>
                <div class="address">
                    <span>{{this.shoppingplace!.candidates[0].formatted_address}}</span>
                </div>
            </p-card>   
        </div>
    </div>
</div>
<p-dialog header="Teilnehmerliste" [(visible)]="displayContribAtAssigneeModify" [modal]="true" class="dialog">
    <div *ngFor="let contributor of this.contributorlist" class="col-12 md:col-4 dialog-element">
        <button pButton pRipple type="button" icon="pi pi-user-edit" label="{{contributor.username}}" (click)="modifyEntryAssginee(contributor.id!)" class="p-button-outlined"></button>
    </div>
</p-dialog>
<p-dialog header="Add Entry" [(visible)]="displayAddEntrySwitch" [modal]="true" class="dialog">
    <div class="col-12 md:col-4">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><em class="pi pi-pencil"></em></span>
            <input type="text" [(ngModel)]="addEntryName" pInputText placeholder="Name" id="name">         
        </div>
    </div>
    <div class="col-12 md:col-4 dialog-element">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><em class="pi pi-user"></em></span>
            <input type="text" disabled="true"  [(ngModel)]="addEntryAssignee!.username" pInputText placeholder="Assignee" id="Assignee">         
            <button type="button" pButton pRipple icon="pi pi-plus" (click)="displayAddEntryAssignee()" styleClass="p-button-success"></button>     
        </div>
    </div>
    <div class="col-12 md:col-4 dialog-element">
            <button pButton type="button" (click)="addEntry()" label="Create" icon="pi pi-check"></button>
    </div>
</p-dialog>
<p-dialog header="Select" [(visible)]="displayContribForAddEntry" [modal]="true" class="dialog">
    <div *ngFor="let contributor of this.contributorlist" class="col-12 md:col-4 dialog-element">
        <button pButton pRipple type="button" icon="pi pi-user-edit" label="{{contributor.username}}" (click)="selectUserForAddEntry(contributor.id!, contributor.username!)" class="p-button-outlined"></button>
    </div>
</p-dialog>