<div class="container">
    <div class="row">
        <div class="menubar header">
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" routerLink="/list-overview"  style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-angle-left" style="color:white"></i></button>
            </div>
            <div class="col-8 shoppinglistName">
                <h1>WG</h1>
            </div>
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-cog" style="color:white"></i></button>
            </div>
        </div>
        <div class="col-12 activeCard">
            <p-card header="Active">
                Banana
            </p-card>   
        </div>
        <div class="col-12 recentCard">
            <p-card header="Recent">
                Lauch
            </p-card>   
        </div>
    </div>
</div>
