.container {
    background-color: #18526535;
}

.menubar {
    margin-bottom: 40px;
    display: flex;
}

.shoppinglistName {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menuBtn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.activeCard {
    margin-bottom: 20px;
}

.header {
    background-color: #185265;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    display: flex;
}

.activeCard {
    text-align: center;
}

.dialog-element {
    margin-top: 10px;
}

.delete-btn {
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 10px;
}

shoppinglist-body {
    align-items: center;
}

.add-user {
    margin-top: 15px;
}

.friendlist {
    margin-top: 20px;
}

:host >>> .p-datatable .p-datatable-tbody > tr > td {
    padding: 0
}

table thead td:nth-child(0) {
    width: 90%;
}

.delete-friend-btn {
    text-align: right;
}

:host >>> .p-card .p-card-content {
    padding-top: 0;
}

.btn-add {
    width: 50%;
    display: inline-block;
}

.btn-maps {
    width: 50%;
    display: inline-block;
}



