<p-toast position="bottom-center" key="tc"></p-toast>
<p-confirmPopup></p-confirmPopup>
<div class="container">
    <p-sidebar [(visible)]="visibleSidebar" position="right" [baseZIndex]="10000">
        <h3>Freundesliste</h3>
        <div class="col-12 md:col-4 add-user">
            <h5>Füge einen Freund hinzu:</h5>
            <div class="p-inputgroup">
                <input type="text" pInputText placeholder="Username">   
                <button type="button" pButton pRipple icon="pi pi-user-plus" styleClass="p-button-warn"></button>      
            </div>
        </div>
        <div class="friendlist">
            <h5>Deine Freunde:</h5>
            <p-table [value]="friends" styleClass="p-datatable-striped">
                <ng-template pTemplate="header">
                </ng-template>
                <ng-template pTemplate="body" let-friends>
                    <tr>
                        <td>{{friends.username}}</td>
                        <td>
                            <div class="delete-friend-btn">
                                <button type="button" pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-sidebar>
    <div class="row">
        <div class="menubar header">
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" (click)="logout()" style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-sign-out" style="color:white"></i></button>
            </div>
            <div class="col-8 shoppinglistName">
                <h1>Einkaufslisten</h1>
            </div>
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" (click)="visibleSidebar = true" style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-users"></i></button>
            </div>
        </div>
        <div class="col-12 activeCard">
            <p-card header="Neue Einkaufsliste erstellen">
                <p-dialog header="Neue Einkaufsliste:" [(visible)]="display" [modal]="true">
                        <div class="col-12 md:col-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
                                <input type="text" pInputText placeholder="Name" id="name">         
                            </div>
                        </div>
                        <div class="col-12 md:col-4 dialog-element">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                                <input type="text" pInputText placeholder="Beschreibung" id="description">         
                            </div>
                        </div>
                        <div class="col-12 md:col-4 dialog-element">
                                <button pButton type="button" (click)="createShoppinglist()" label="Erstellen" icon="pi pi-check"></button>
                        </div>
                </p-dialog>
                <button pButton pRipple type="button" (click)="showDialog()" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-plus"></i></button>
            </p-card>   
        </div>
        <div class="col-12 activeCard" *ngFor="let list of lists">
            <p-card header="{{list.name}}">
                <div class="shoppinglist-body">
                    <span class="list-span">Beschreibung: {{list.description}}</span>
                </div>
                <button pButton pRipple type="button" (click)="confirm($event, list.id)" class="p-button-rounded p-button-danger delete-btn"><i class="pi pi-trash"></i></button>
                <button pButton pRipple type="button" (click)="toShoppinglist(list.id)" class="p-button-rounded p-button-secondary delete-btn"><i class="pi pi-arrow-right"></i></button>
            </p-card>   
        </div>
    </div>
</div>