<div class="container">
    <div class="row">
        <div class="menubar header">
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" (click)="logout()" style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-sign-out" style="color:white"></i></button>
            </div>
            <div class="col-8 shoppinglistName">
                <h1>Einkaufslisten</h1>
            </div>
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-cog" style="color:white"></i></button>
            </div>
        </div>
        <div class="col-12 activeCard" *ngFor="let list of this.lists">
            <p-card header="{{this.list.name}}">Erstellt von: {{this.list.owner}}</p-card>   
        </div>
        <div class="col-12 activeCard">
            <p-card header="Neue Einkaufsliste erstellen">
                <button pButton pRipple type="button" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-plus"></i></button>
            </p-card>   
        </div>
    </div>
</div>