<p-toast position="bottom-center" key="tc"></p-toast>
<div class="container">
    <div class="row">
        <div class="menubar header">
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" (click)="logout()" style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-sign-out" style="color:white"></i></button>
            </div>
            <div class="col-8 shoppinglistName">
                <h1>Einkaufslisten</h1>
            </div>
            <div class="col-2 menuBtn">
                <button pButton pRipple type="button" style="color: white;" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-cog" style="color:white"></i></button>
            </div>
        </div>
        <div class="col-12 activeCard">
            <p-card header="Neue Einkaufsliste erstellen">
                <p-dialog header="Neue Einkaufsliste:" [(visible)]="display" [modal]="true">
                        <div class="col-12 md:col-4">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-pencil"></i></span>
                                <input type="text" pInputText placeholder="Name" id="name">         
                            </div>
                        </div>
                        <div class="col-12 md:col-4 dialog-element">
                            <div class="p-inputgroup">
                                <span class="p-inputgroup-addon"><i class="pi pi-tag"></i></span>
                                <input type="text" pInputText placeholder="Beschreibung" id="description">         
                            </div>
                        </div>
                        <div class="col-12 md:col-4 dialog-element">
                                <button pButton type="button" (click)="createShoppinglist()" label="Erstellen" icon="pi pi-check"></button>
                        </div>
                </p-dialog>
                <button pButton pRipple type="button" (click)="showDialog()" class="p-button-rounded p-button-secondary p-button-outlined"><i class="pi pi-plus"></i></button>
            </p-card>   
        </div>
        <div class="col-12 activeCard" *ngFor="let list of this.lists">
            <p-card header="{{this.list.name}}">
                <div class="shoppinglist-body">
                    <span class="list-span">Beschreibung: {{this.list.description}}</span>
                    <p-confirmPopup></p-confirmPopup>
                </div>
                <button pButton pRipple type="button" (click)="confirm($event, this.list.id)" class="p-button-rounded p-button-danger delete-btn"><i class="pi pi-trash"></i></button>
                <button pButton pRipple type="button" (click)="toShoppinglist(this.list.id)" class="p-button-rounded p-button-secondary delete-btn"><i class="pi pi-arrow-right"></i></button>
            </p-card>   
        </div>
    </div>
</div>